<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bcandjirafunctionapp20231215061651.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b47aea3e-6bf3-4e00-bc02-82d90a874704/resourceGroups/bcandjira/providers/Microsoft.Web/sites/bcandjirafunctionapp20231215061651</ResourceId>
    <UserName>$bcandjirafunctionapp20231215061651</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://bcandjirafunctionapp20231215061651.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>